[user]
	name = Arthur Albuquerque
	email = 20231694+troclaux@users.noreply.github.com
[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[commit]
	verbose = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[core]
	whitespace = trailing-space
	editor = nvim
[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
